.main {
    display: flex;
    justify-content: center;
}

.container {
    overflow: hidden;
    border: 1px groove;
    max-width: 450px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    background-color:#c3e01d;
}

.body {
    margin: 1em 0;
    display: contents;
    justify-content: center;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.body .background{
    background-size: 28em 15em;
    background-position: center;
    height: 14em;
    transition: 0.2s;
    background-image: url("https://us.123rf.com/450wm/steinar14/steinar141609/steinar14160900286/63526766-pesos-de-elevaci%C3%B3n-del-hombre-fuerte-y-hermoso-aislado-en-el-fondo-blanco.jpg?ver=6");
}

.body .photo-active {
    background-size: 30.8em 16.5em;
    transition: 0.2s; }

.footer {
    text-align: center;
    padding: 5px;
}

.bar_plates {
    display: flex;
    margin-top: 30%;
}

.plate_list {
    display: flex;
    align-content: center;
    text-align: center;
    padding: 10px;
}

.input {
    margin: 8px;
    width: 10%;
    padding: 5px;
    border: 1px ridge;
    border-radius: 8px;
}

.btn {
    background-color: #c3e01d;
    padding: 8px 20px;
    margin-top: 5px;
    border: 1px ridge;
    border-radius: 5px;
    cursor: pointer;
}

#warning {
    color: red;
}

